# Python
__pycache__/
*.pyc
*.pyd
*.egg-info/
dist/
build/
*.spec

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Settings data
*.json
!config/default_settings.json

# Logs
*.log

# Temp files
*.tmp
*.bak
